<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=JITBIT-JUB\SQLEXPRESS;Initial Catalog=JITBIT_JUB; Integrated Security=SSPI" />
  </connectionStrings>
  <appSettings>
    <add key="BackupFolder" value="E:\JITBIT JUBAIL DATA BACKUP\"/>
  </appSettings>
</configuration>